<!DOCTYPE html>
<html lang="en">
  <head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Pokemon Web Spider challenge solution from HackEPS">
    <meta name="keywords" content="pokemon,spider,hackeps,challenge">
    <meta name="author" content="Albert Suarez">
    <meta name="application-name" content="Pokemon Web Spider">
    <meta name="apple-mobile-web-app-title" content="Pokemon Web Spider">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"/>

    <title>Pokemon Web Spider | Albert Suarez</title>

    <meta property="og:title" content="Pokemon Web Spider | Albert Suarez">
    <meta property="og:site_name" content="Pokemon Web Spider">
    <meta property="og:description" content="Pokemon Web Spider challenge solution from HackEPS">
    <meta property="og:url" content="https://asuarez.dev/hackeps-pokemonwebspider">

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/main.css" data-finger-print>

    <!--3rd party libraries-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Semantic CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

    <!-- Semantic JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  </head>

  <body>

    <div class="page-content">
      <div class="card-content">
        <div id="card" class="ui centered card">
          <div class="content">
            <h1 class="header title">Pokemon Web Spider</h1>
            <div class="space-padding"></div>
            <div class="ui page grid">
              <div class="four column row">
                <div class="two wide column">data.number_1</div>
                <img class="one wide column centered" src="data.img_1">
                <div class="four wide column">data.name_1</div>
                <div class="four wide column">data.type_1</div>
              </div>
              <div class="four column row">
                <div class="two wide column">data.number_2</div>
                <img class="one wide column centered" src="data.img_2">
                <div class="four wide column">data.name_2</div>
                <div class="four wide column">data.type_2</div>
              </div>
              <div class="four column row">
                <div class="two wide column">data.number_3</div>
                <img class="one wide column centered" src="data.img_3">
                <div class="four wide column">data.name_3</div>
                <div class="four wide column">data.type_3</div>
              </div>
              <div class="four column row">
                <div class="two wide column">data.number_4</div>
                <img class="one wide column centered" src="data.img_4">
                <div class="four wide column">data.name_4</div>
                <div class="four wide column">data.type_4</div>
              </div>
              <div class="four column row">
                <div class="two wide column">data.number_5</div>
                <img class="one wide column centered" src="data.img_5">
                <div class="four wide column">data.name_5</div>
                <div class="four wide column">data.type_5</div>
              </div>
              <div class="four column row">
                <div class="two wide column">data.number_6</div>
                <img class="one wide column centered" src="data.img_6">
                <div class="four wide column">data.name_6</div>
                <div class="four wide column">data.type_6</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/main.js"></script>

  </body>

</html>